<div class="Home-Product-Slider-Container">
	<div class="Home-Product-Slider-Container-Top">
		<div class="Home-Product-Slider-Container-Top-img">
			<div class="Home-Product-Slider-Container-Top-img-showcase">
				<img src="{{ product_demo_1.jpg | asset_url  }}" alt="product-demo" width="1066" height="1580" loading="lazy">
				<img src="{{ product_demo_2.jpg | asset_url  }}" alt="product-2-demo" width="1066" height="1580" loading="lazy">
			</div>
		</div>


		<div class="Home-Product-Slider-Container-Top-ToolTip">
			<span>SALE</span>
		</div>
		<a href="#" class="Home-Product-Slider-Container-Top-QuickView">
			<span>QuickView</span><span><i class='bx bx-low-vision'></i></span>
		</a>
		<div class="Home-Product-Slider-Container-Top-QuickAdd">
			<a href="#" class="Home-Product-Slider-Container-Top-QuickAdd__btn">QUICK ADD</a>
			<a href="#"><i class='bx bxs-heart' ></i><span>Add to wishlist</span></a>
		</div>
	</div>
	<div class="Home-Product-Slider-Container-Bottonm">
		<a href="#"><h2>{{shop.name }}</h2></a>
		<a href="#"><h3>Product-none-name</h3></a>
		<div class="Home-Product-Slider-Container-Bottonm-Price">
			<span class="Home-Product-Slider-Container-Bottonm-FinalPrice__Price">Price</span>
			<span class="Home-Product-Slider-Container-Bottonm-FinalPrice__From">From</span>
			<span class="Home-Product-Slider-Container-Bottonm-FinalPrice_LastPrice">Last Price</span>
		</div>

		<div class="Home-Product-Slider-Container-Bottonm-Section">
			<div class="Home-Product-Slider-Container-Bottonm-Section-Rounded">
				<div class="Home-Product-Slider-Container-Bottonm-Section-Rounded-Object-Outline" data-tooltip="blue">
					<div class="Home-Product-Slider-Container-Bottonm-Section-Rounded-Object" style="background-color: blue;"></div>
				</div>
			</div>
			<div class="Home-Product-Slider-Container-Bottonm-Section-Rounded">
				<div class="Home-Product-Slider-Container-Bottonm-Section-Rounded-Object-Outline" data-tooltip="pink">
					<div class="Home-Product-Slider-Container-Bottonm-Section-Rounded-Object" style="background-color: pink;"></div>
				</div>
			</div>
			<div class="Home-Product-Slider-Container-Bottonm-Section-Rounded">
				<div class="Home-Product-Slider-Container-Bottonm-Section-Rounded-Object-Outline" data-tooltip="red">
					<div class="Home-Product-Slider-Container-Bottonm-Section-Rounded-Object" style="background-color: red;"></div>
				</div>
			</div>
			<div class="Home-Product-Slider-Container-Bottonm-Section-Rounded">
				<div class="Home-Product-Slider-Container-Bottonm-Section-Rounded-Object-Outline" data-tooltip="green">
					<div class="Home-Product-Slider-Container-Bottonm-Section-Rounded-Object" style="background-color: green;"></div>
				</div>
			</div>
		</div>
	</div>
</div>