<li><a href="/" title="Trang chủ" aria-label="Trang chủ">Trang chủ</a></li>
<li class="hasChild">
	<a href="/collections/all" title="Trang nhóm sản phẩm" aria-label="Trang nhóm sản phẩm">Trang nhóm sản phẩm <span>{%- include 'icon-right' -%}</span></a>
	<ul class="menu1"> 
		<li><a href="/collections/all?view=vertical" title="Nhóm sản phẩm Filter dọc" aria-label="Nhóm sản phẩm Filter dọc">Nhóm sản phẩm Filter dọc</a></li>
		<li><a href="/collections/all?view=horizontal" title="Nhóm sản phẩm Filter ngang" aria-label="Nhóm sản phẩm Filter ngang">Nhóm sản phẩm Filter ngang</a></li>
	</ul>
</li>
<li><a href="/blogs/all" title="Trang bài viết" aria-label="Trang bài viết">Trang bài viết</a></li>
<li><a href="/lien-he" title="Trang liên hệ" aria-label="Trang liên hệ">Trang liên hệ</a></li>
<li><a href="/he-thong-cua-hang?view=store" title="Trang hệ thống cửa hàng" aria-label="Trang hệ thống cửa hàng">Trang hệ thống cửa hàng</a></li>