{%- include "home-slider" -%}
<div class="width_limitation">
	{%- include "home-collections" -%}
	{%- include "home-product-list" -%}
	{%- include "home-banner-full" -%}
	{%- include "home-product-list-two" -%}
	{%- include "home-banner-intro" -%}
	{%- include "home-banner-full-two" -%}
	{%- include "home-product-banner" -%}
	{%- include "home-blog" -%}
	{%- include "home-tiktok" -%}
	{%- include "home-store" -%}
	{%- include "home-insta" -%}
</div>